header {
	height: 40%;
	text-align: center;
}h1 {
	margin-top: 0;
	padding: 50px 0 10px;
}

h1 > img {
	width: 200px;
}

.btn-primary {
	margin-top: 70px;
	width: 50%;
}

.rightAligned {
	text-align: right;
}

h2 {
	font-family: 'Georgia', 'Garamond', 'Times New Roman', Times, serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 44px;
	margin-top: 0;
	padding-top: 0;
}

h3 {
	font-family: 'Trajan Pro', 'Georgia', 'Garamond', 'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 0;
	padding-bottom: 0;
}

/* =========================================
	Media Query Styles
========================================== */
@media (max-width: 770px) {
	.rightAligned {
		text-align: center;
	}

	section {
		text-align: center;
	}

	.btn-primary {
		width: 80%;
		margin-top: 20px;
	}
}